PORT=5000

# Full connection string (preferred)
#DATABASE_URL=postgresql://postgres:postgres@localhost:5432/urban_furniture

# Or discrete fields if you prefer (see config/db.js to switch)
# PGHOST=localhost
# PGPORT=5432
# PGUSER=postgres
# PGPASSWORD=postgres
# PGDATABASE=urban_furniture
DB_HOST=localhost
DB_PORT=5432
DB_NAME=urban_furniture_db
DB_USER=postgres
DB_PASSWORD=tirth1025

JWT_SECRET=T9CbLFbANrFQD6PLyTYc6pcpsAalQuzdPHHPCkUEBvC
JWT_EXPIRES_IN=8h
